.error {color: #ff0000; font-size: 20px; font-weight: bold;}
.main-container {display: flex; align-items: center; justify-content: space-between; flex-direction: column; height: 100vh;}
.center {margin: auto;}
.center input {background-color: #eeeeee; border-radius: 5px; color: inherit; font-size: larger; cursor: pointer;}
.center input:hover {background-color: #cccccc; transition: 0.5s;}
.main-container h3 {text-transform: uppercase; font-size: 32px; color: inherit; letter-spacing: 0.5ch;}